
<h1>Coding Events</h1>

    <table class="table table-striped table-bordered">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>

        @foreach (var meeting in ViewBag.events)           @*Use var as catchall data type.*@
        {<tr>
                <td>@meeting.Name</td>
                <td>@meeting.Description</td>
            </tr>
        }

    </table>



